@use './colors' as *;


@mixin mq($size) {
    @media (min-width: $size) {
        @content;
    }
}


@mixin desc {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

