@use './colors' as *;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-mobile.svg) no-repeat;
    background-size: contain;
    background-position: 0px -10px;
    background-color: var(--Violet);
    
    @include mq(1024px) {
        body {
            background: url(../images/bg-desktop.svg) no-repeat;
            background-size: cover;
            background-position: center;
            background-color: var(--Violet);
        }
    }
}

img {
    max-width: 100%;
}
